.magasin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/fond-magasin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Roboto, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.nav-magasin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  padding: 10px 10px;
  color: black;
}

/* Titre et ID stylés */
.titre-magasin {
  margin: 0;
  font-size: 2rem;
  color: black;
}

.id-magasin {
  font-size: 0.8rem;
  margin-right: 30px;
}

.rayons {
  position: absolute;
  top: 50%;
  left: 46.5%;
  min-width: 400px;
  max-width: 600px;
  height: 400px;
  background-color: rgba(185, 185, 185, 0.149);
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2rem 10rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 10;
  padding: 10px;
}

